<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>
            XD
        </title>
        <link rel="stylesheet" href="styles/dbanswerstyle.css">
    </head>
    <body>
        <div class = "container">
            {{range .Games}}
            <div class = "answer_row">
                <div class = "Name">
                    <h1>{{.Name}}</h1>    
                </div>
                <div class = "Info">
                    <p>Year : {{.Year}}, Platform : {{.Platform}}, Rating : {{.Rating}}</p>
                </div>
            </div>
            <div class = "break"></div>
            {{end}}
        </div>
    </body>
</html>