<!DOCTYPE html>
<html>
    <head>
        <title>
            XD
        </title>
    </head>
    <body>
        <form method="GET" action = "/games">
            <div>
                <label>Platform:</label>
                <select id = "platform" name = "platform">
                    <option value=""></option>
                    {{range .Platform}}
                    <option value="{{.}}">{{.}}</option>
                    {{end}}
                </select>
            </div>
            <div>
                <label>Rating must be higher than:</label>
                <input type = "text" id = "rating" name = "rating"><br>
            </div>
            <div>
                <label>Game was released after:</label>
                <input type = "text" id = "year" name = "year"><br>
            </div>
            <div>
                <label>Sort results by:</label>
                <select id = "order by" name = "order by">
                    <option value=""></option>
                    <option value="rating desc">Rating descending</option>
                    <option value="rating">Rating</option>
                    <option value="year desc">Year descending</option>
                    <option value="year">Year</option>
                </select>
            </div>
            <input type="submit" value="submit">
        </form>
    </body>
</html>